@import url(https://fonts.googleapis.com/css?family=Anonymous+Pro);

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  --primaryColor: #00F2A9;
  --mainTransition: all 0.3s linear;
  --mainSpacing: 3px;
}

body {
  padding-top: 70px;
  color: black;
  background: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  line-height: 1.4;
}

/* Navbar */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0.75rem 2rem;
  z-index: 1;
}

.nav-header {
  display: flex;
  justify-content: space-between;
}

.nav-btn{
  background: transparent;
  border:none;
  cursor: pointer;
  outline:none;
}

.nav-icon{
  font-size: 1.5rem;
  color:var(--primaryColor);
}
.nav-links {
  height: 0;
  overflow: hidden;
  transition: var(--mainTransition);
  list-style-type: none;
}
.nav-links a {
  display: block;
  text-decoration: none;
  padding: 1rem 0;
  color: black;
  transition: var(--mainTransition);
  text-align: center;
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: var(--mainSpacing);
}
.nav-links a:hover {
  color: var(--primaryColor);
}

.show-nav {
  height: 100px;
}
@media screen and (min-width: 768px) {
  .nav-btn {
    display: none;
  }
  .nav-center {
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
  }
  .nav-links {
    height: auto;
    display: flex;
    margin-left: 4rem;
  }
  .nav-links a {
    margin: 0 1rem;
    padding: 0.5rem 0;
  }
}

@media screen and (max-width:1024px){
  #left-main-box{
    display: none;
  }
  #right-main-box{
    margin-top:6%;
  }
}
/* end of navbar */

/*Home*/
.home{
  min-height: calc(100vh - 70px);
  background-color: var(--primaryColor);
}

.exchange-icon{
  font-size: 1.5rem;
  margin: 3%;
}

#typedtext{
  width: 500px;
  height: 400px;
  font-size: 3rem;
  color:black;
  text-shadow: 2px 2px white;
  margin-left: 20%;
   margin-top: 20%;
}

#airplaneImage{
  position: absolute;
  top:60%;
  left:10%;
  z-index: 1;
  animation-name: airplaneTransform;
  animation-delay:2s;
  animation-duration: 4s;
  animation-fill-mode: forwards;
}

@keyframes airplaneTransform {
    from {left: 10%;top:60%;opacity: 1;}
    to{left:70%;top:20%;opacity: 0}
}
